<app-weather></app-weather>


<div class="container mt-4">
  <div class="card shadow-sm mb-4" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Two Way Communication</h5>
      <p class="card-text">Using Event Emiiter and Inputs we can create this</p>
       
    </div>
  </div>

  <div class="card shadow-sm p-4">
   

    <div class="mb-3">
      <label for="pdata" class="form-label fw-bold">Parent Sending Data To Child:</label>
      <input type="text" id="pdata" #pdata (keyup)="0" class="form-control" placeholder="Type something for child..." />
    </div>

    <div class="mb-3">
      <h5>Value coming from child:</h5>
      <p class="alert alert-info">{{ cdata }}</p>
    </div>

    <app-child [pdata]="pdata.value" (cevent)="cdata = $event"></app-child>
  </div>
</div>

<app-directives></app-directives>
<app-model></app-model>
