<div class="container">
  <h1>My Angular Application</h1>

  <ul class="nav bg-warning text-secondary">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pipes" >Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="rform" >ReactiveForm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tform" >TemplateForm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="todo" >Todo-App</a>
    </li>

  </ul>
</div>

<router-outlet></router-outlet>
